{% extends 'homebase.html' %}
{% block title %} About{% endblock %}
{% load static %}
{% block breadcurm%} About {% endblock %}


{% block content%}
<!-- About Us -->
<section class="about-us section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-12">
				<div class="about-content">
					<h3>The <span> Process</span></h3>
					<p> 1. Start by envisioning your custom design. Once you have your concept, schedule an appointment with our expert jewelry designer, who will bring your idea to life. At this stage, we will prepare mock-up designs and make changes to a 3D CAD Model until you are satisfied.</p>
						<p> 2. Once a design is finalized, our expert gem cutters and goldsmiths utilize the highest quality of gemstones and fine metals to bring your piece to life through our custom fabrication process.</p>
							<p> 3. At this step, the production of your custom piece is now complete. For long distance clients, we will share photos and tracking information, and ensure the piece is delivered in a timely manner.</p>
					<div class="button">
						<a href="/faqs" class="btn">FAQS</a>
						<a href="/contact" class="btn primary">Contact Us</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-12">
				<div class="about-img overlay">
					<div class="button">
						<a href="https://www.youtube.com/watch?v=nh2aYrGMrIE" class="video video-popup mfp-iframe"><i
								class="fa fa-play"></i></a>
					</div>
					<img src="{%static '/images/about/about.jpg' %}" alt="#">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Us -->

<!-- Start Shop Services Area -->
<section class="shop-services section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-rocket"></i>
					<h4>Fast & Secure Shipping</h4>
					<p>All orders</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-reload"></i>
					<h4>Unlimited Mockups</h4>
					<p>To your satisfaction</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-lock"></i>
					<h4>Secure Payment</h4>
					<p>Fully encrypted</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="ti-tag"></i>
					<h4>Guaranteed Price</h4>
					<p>Best value for money</p>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>
<!-- End Shop Services Area -->


{% endblock %}