{% extends 'homebase.html' %}
{% block title %} Received Order{% endblock %}
{% load static %}
{% block breadcurm%} Received Order {% endblock %}


{% block content%}





<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title">Thank you for your order!</h3>
                    </div>
                    <hr>
                    <h2>Dear {{ user.username }} </h2>
                    <hr>
                    <h1></h1>Your payment has been received.</h1>
                    <h3>Order Code : {{ ordercode }}</strong></h3>
                    <h3>We will reach out shortly.</h3>
                    <hr>

                </div>

            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->


{% endblock %}